<html lang="en">
<head>
<title>RegionMaker </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/stylesheets/site.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="static/js/sigma.core.js"></script>
   <script src="static/js/conrad.js"></script>
   <script src="static/js/utils/sigma.utils.js"></script>
   <script src="static/js/utils/sigma.polyfills.js"></script>
   <script src="static/js/sigma.settings.js"></script>
   <script src="static/js/classes/sigma.classes.dispatcher.js"></script>
   <script src="static/js/classes/sigma.classes.configurable.js"></script>
   <script src="static/js/classes/sigma.classes.graph.js"></script>
   <script src="static/js/classes/sigma.classes.camera.js"></script>
   <script src="static/js/classes/sigma.classes.quad.js"></script>
   <script src="static/js/classes/sigma.classes.edgequad.js"></script>
   <script src="static/js/captors/sigma.captors.mouse.js"></script>
   <script src="static/js/captors/sigma.captors.touch.js"></script>
   <script src="static/js/renderers/sigma.renderers.canvas.js"></script>
   <script src="static/js/renderers/sigma.renderers.webgl.js"></script>
   <script src="static/js/renderers/sigma.renderers.svg.js"></script>
   <script src="static/js/renderers/sigma.renderers.def.js"></script>
   <script src="static/js/renderers/webgl/sigma.webgl.nodes.def.js"></script>
   <script src="static/js/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
   <script src="static/js/renderers/webgl/sigma.webgl.edges.def.js"></script>
   <script src="static/js/renderers/webgl/sigma.webgl.edges.fast.js"></script>
   <script src="static/js/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
   <script src="static/js/renderers/canvas/sigma.canvas.labels.def.js"></script>
   <script src="static/js/renderers/canvas/sigma.canvas.hovers.def.js"></script>
   <script src="static/js/renderers/canvas/sigma.canvas.nodes.def.js"></script>
   <script src="static/js/renderers/canvas/sigma.canvas.edges.def.js"></script>
   <script src="static/js/renderers/canvas/sigma.canvas.edges.curve.js"></script>
   <script src="static/js/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
   <script src="static/js/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
   <script src="static/js/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
   <script src="static/js/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
   <script src="static/js/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
   <script src="static/js/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
   <script src="static/js/renderers/canvas/sigma.canvas.extremities.def.js"></script>
   <script src="static/js/renderers/svg/sigma.svg.utils.js"></script>
   <script src="static/js/renderers/svg/sigma.svg.nodes.def.js"></script>
   <script src="static/js/renderers/svg/sigma.svg.edges.def.js"></script>
   <script src="static/js/renderers/svg/sigma.svg.edges.curve.js"></script>
   <script src="static/js/renderers/svg/sigma.svg.labels.def.js"></script>
   <script src="static/js/renderers/svg/sigma.svg.hovers.def.js"></script>
   <script src="static/js/middlewares/sigma.middlewares.rescale.js"></script>
   <script src="static/js/middlewares/sigma.middlewares.copy.js"></script>
   <script src="static/js/misc/sigma.misc.animation.js"></script>
   <script src="static/js/misc/sigma.misc.bindEvents.js"></script>
   <script src="static/js/misc/sigma.misc.bindDOMEvents.js"></script>
   <script src="static/js/misc/sigma.misc.drawHovers.js"></script>
   <script src="static/plugins/sigma.parsers.json/sigma.parsers.json.js"></script>
   <script src="static/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js"></script>

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Regionmaker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/config">Configuração</a>
          </li>
         </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5">Visão geral da estrutura Docker.</h1>

    <div class="row">
        
        <div id="graph-container"></div>
    </div>

  </div>

  <script>
  var g = {
    nodes: [],
    edges: []
  };

  s = new sigma({
    graph: g,
    container: 'container',
    renderer: {
      container: 'graph-container',
      type: 'canvas'
    },
    settings: {
       labelThreshold: 0
    }
  });

 
  sigma.parsers.json('static/data2.json', s, function() {
    
    s.refresh();
   
    var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);

    dragListener.bind('startdrag', function(event) {
      console.log(event);
    });
    dragListener.bind('drag', function(event) {
      console.log(event);
    });
    dragListener.bind('drop', function(event) {
      console.log(event);
    });
    dragListener.bind('dragend', function(event) {
      console.log(event);
    });

  });
      
  </script>

</body>
</html>